<header class="bg-gray-400 rounded-full shadow-sm">
          <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
            <h1 class="text-lg leading-6 font-semibold bg-gray-400 text-gray-200">
              Profile
            </h1>
          </div>
        </header>
        <main>
          <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-4 sm:px-0">
              <div class="">
                    <div class='card m-4  border-gray-200 rounded-lg h-auto w-auto'>
                        <h1 class='text-3xl text-gray-200 p-2 bg-gray-400 rounded-full'>Tools Available</h1>
                        <input type='text' class='w-60 m-2 p-1 rounded text-gray-700' placeholder='description'/>
                        <input type='text' class='w-auto m-2 p-1 rounded text-gray-700' placeholder='make'/>
                        <input type='text' class='w-auto m-2 p-1 rounded text-gray-700' placeholder='model'/>
                        <input type='text' class='w-60 m-2 p-1 rounded text-gray-700' placeholder='asking'/>
                        <select class='form-select p-1 m-2 rounded' placeholder='type'>
                          <option>Lawn and Garden</option>
                          <option>Saws</option>
                          <option>Construction</option>
                          <option>Hand tools</option>
                        </select>
                        <button type='submit' class='bg-gray-400 text-gray-200 rounded p-1 m-2 hover:bg-gray-200 hover:text-gray-400'>Submit</button>
                        <!-- <input type='text' class='rounded text-gray-700' placeholder='description'/> -->
                        
                        <ul class='text-gray-200'>

                        </ul>

                    </div>
                    <div class='card m-4  border-gray-200 rounded-lg h-auto w-auto'>
                      <h1 class='text-3xl text-gray-200 p-2 bg-gray-400 rounded-full'>Tools Needed</h1>
                        <input type='text' class='w-60 m-2 p-1 rounded text-gray-700' placeholder='description'/>
                        <input type='text' class='w-auto m-2 p-1 rounded text-gray-700' placeholder='make'/>
                        <input type='text' class='w-auto m-2 p-1 rounded text-gray-700' placeholder='model'/>
                        <input type='text' class='w-60 m-2 p-1 rounded text-gray-700' placeholder='asking'/>
                        <select class='form-select p-1 m-2 rounded' placeholder='type'>
                          <option>Lawn and Garden</option>
                          <option>Saws</option>
                          <option>Construction</option>
                          <option>Hand tools</option>
                        </select>
                        <button type='submit' class='bg-gray-400 text-gray-200 rounded p-1 m-2 hover:bg-gray-200 hover:text-gray-400'>Submit</button>
                        <ul class='text-gray-200'>

                        </ul>
                    </div>  
                    <div class='card m-4  border-gray-200 rounded-lg h-auto w-auto'>
                      <h1 class='text-3xl text-gray-200 p-2 bg-gray-400 rounded-full'>Messages</h1>
                        
                    </div>  
                    
              </div>
            </div>
            <!-- /End replace -->
          </div>
        </main>